services:
  db:
    image: postgres:17.4
    ports:
      - 5433:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    networks:
      - shared-wxtm-network

  test-db:
    image: postgres:17.4
    ports:
      - 5434:5435
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres

  wxtm-backend:
    build:
      context: .
    user: node
    ports:
      - 3001:3000
    volumes:
      - .:/app
    depends_on:
      - db
    environment:
      ENVIRONMENT: local
      DATABASE_HOST: db
      DATABASE_PORT: 5432
      DATABASE_USERNAME: postgres
      DATABASE_PASSWORD: postgres
      DATABASE_NAME: postgres
      AUTH0_DOMAIN: ${AUTH0_DOMAIN}
      AUTH0_AUDIENCE: ${AUTH0_AUDIENCE}
      CHAIN_ID: 11155111
    command: 'npm run start:dev'
    networks:
      - shared-wxtm-network

  tests-runner:
    build:
      context: .
    volumes:
      - .:/app
    depends_on:
      - test-db
    environment:
      ENVIRONMENT: test
      DATABASE_HOST: test-db
      DATABASE_PORT: 5435
      DATABASE_USERNAME: postgres
      DATABASE_PASSWORD: postgres
      DATABASE_NAME: postgres
      AUTH0_DOMAIN: auth0_domain
      AUTH0_AUDIENCE: auth0_audience
      CHAIN_ID: 11155111
    command: npm run test

networks:
  shared-wxtm-network:
    external: true
